body {
    padding-top: 5rem;
     font-family: 'Roboto', sans-serif;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

 .subject-button {
            width: 100%; /* Full width of the column */
            border: 2px solid black; /* Black border */
            border-radius: 12px; /* Rounded edges */
            color: black; /* Text color */
            background-color: white; /* Background color */
            text-align: center; /* Center align text */
            padding: 20px; /* Ample padding */
            font-size: 20px; /* Larger font size */
            transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
            margin-bottom: 10px; /* Space between buttons */
        }

        .subject-button:hover {
            background-color: #f0f0f0; /* Light grey background on hover */
            color: #212529; /* Slightly darker text on hover */
        }

        .subject-grid {
            padding: 20px; /* Padding around the grid */
        }
